# Practical Python Tools for Metadata Assessment: 55-minute workshop

## Welcome

Welcome to the workshop! This is meant to be a a fun and beginner-friendly introduction to a few useful Python tools, in the context of exploring and manipulating tabular metadata for digital collections.   

In this session, we will focus on some basic functions of Python's pandas data analysis library. We will use pandas for exploring, filtering, reshaping, and merging datasets. 

This notebook provides code that you can execute to see results and generate outputs in the notebook itself, as well as explanations for the examples and exercises we'll be working through together. 

This workshop will be very quick. We will not be able to get through everything. So, this notebook also includes: a couple bonus examples, and a list of recommended resources for further exploration on your own.

### Table of Contents

* [Workshop Plan](#wplan)
* [Using the Jupyter Notebook](#usingjn)
    * [Exercise 1: Run Code Cells](#ex1)
    * [Exercise 2: Add New Code](#ex2)
    * [More Notebook Exercises](#mjn)
* [Python/pandas Examples with Collections Metadata](#ppe)
    * [Metadata Example 1: Explore a dataset](#md1)
        * [Exercise 3: Troubleshoot a Datatype Issue](#ex3)
    * [Metadata Example 2: Compare a group of metadata files](#md2)
        * [Exercise 4: Evaluate Values in a Subjects field](#ex4)
    * [Metadata Example 3: Merge information from separate files](#md3)
        * [Exercise 5: Other ways to merge](#ex5)
    * [Bonus Example: Working with Dates](#md4)
    * [Bonus Example: Find and remove duplicates](#md5)
* [Resources](#res)

## Workshop Plan <a name="wplan"></a>

We will start with a quick demo in using the jupyter notebook for running code cells and adding code to cells.

Then we will walk through three examples of using Python/pandas with digital collections metadata files.  

After each example there will be an exercise so you can try out working with the collections data.     


----
  
**Intro, & using the jupyter notebook (10 mins)**
    * Exercises 1 & 2: how to run code in notebook, and add new code to cells 
    
**Example 1: Explore a dataset (12 mins)** 
    * Exercise 3: Troubleshoot a Datatype Issue
    
**Example 2: Compare a group of metadata files (12 mins)**
    * Exercise 4: Evaluate Values in a Subject field
    
**Example 3: Merge info from separate files (12 mins)**
    * Exercise 5 : Other Ways to Merge
    
**Wrap-up (5 mins)**
    * Review resources, and info about installing python

----

# Using the Jupyter Notebook <a name="usingjn"></a>

You can edit this notebook directly to run code cells and generate output, and add new code and text. In this section we'll go through basic commands to get familiar with working in the notebook. 

All paths in the notebook refer to locations within this project folder/git repository, so you can access example data and/or save output files within this project.

### Exercise 1: Run code cells <a name="ex1"></a>

Practice running Python code in the notebook.

#### Code Cells and Markdown Cells

All content in this notebook is located within individual cells, which you can identify by clicking on them. Clicking on a cell causes its borders to appear. 

Jupyter notebooks have two kinds of cells:   

* **Code cells:** contain code that can be executed within the notebook. Code cells have an `In [ ]:` to the left of the cell. 

* **Markdown cells:** contain text providing explanation and context, usually about the code cells.

#### example code cell :

In [ ]:
## hashtags in a code cell indicate a comment -- informational text for a human to read, not to be executed as code

print("here's an example code cell.")

#### Edit Mode and Command Mode 

All cells in the notebook have two functional modes: 
* **Command mode:** used for navigating and moving cells = Blue cell border    
* **Edit mode:** used for adding/editing content in cells = Green cell border

To run a code cell, you need to put the cell into Edit mode by clicking on it.  
(More info on Edit mode provided below. For now, just know that you need Edit mode to run a cell.)

You can tell a cell is in Edit mode because the cell border turns green. 

If a cell has a blue border, it is in Command mode. To see the difference, click on the code cell above this Markdown cell.    
The border should turn green = Edit mode. 

To switch back to Command mode, press the `Esc` key. The cell border will switch back to Blue = Command mode. 

**NOTE:** If you are not able to see Blue and Green, look for a cursor in the cell. If a cell is in Edit mode, you will see your cursor blinking in the cell. If there is no cursor blinking in the cell, it is in Command mode. 

Try switching the code cell below back and forth between Edit mode (green) and Command mode (blue) a few times to get used to how this works.

#### another example code cell:

In [ ]:
# more example code

print("Toggle a code cell between Edit and Command modes using Esc and Enter keys.")

#### How to Run a Code Cell

To run a code cell, click on it to switch the cell to Edit mode (green border). Then press `CTRL` + `Enter` to run the code. 

While the code runs, you'll see an `*` in the `In [ ]:` to the left of the cell. 

When the code completes, an integer will appear in the `In [ ]:` to the left of the cell.   

If the code produced output, it will appear underneath the code cell.

#### Try running this code cell:

In [ ]:
# more example code

print("Press CTRL + ENTER to run a code cell. If the code produces output, it will appear below the cell.")

### Exercise 2: Add New Code to Cells <a name="ex2"></a>

For the pandas exercises in this notebook, you'll have the chance to add new code to cells to try out ideas.  
This exercise walks through how to add code to a cell.

#### Type or paste code into an existing cell

For the exercises in this notebook, there will be empty code cells available to try out solutions. You can paste example code provided, or type your own. 

Look for the `In [ ]:` to the left of the cell, to make sure it's a code cell. 


Try out pasting this line of sample code into the empty code cell below and then running it: 
* Copy the block of text below starting from the ##, and ending with the )
* Click on one of the empty code cells below, make sure the cell turns green for Edit mode, paste the copied block of code. 
* Then press `CTRL` + `ENTER` to run the code you pasted. 

```

## comment 
print("here's an example of new code.")


```

#### Use the code cells below for the exercise

###  More Notebook Exercises: 'command palette', shortcuts, creating new cells <a name="mjn"></a>

Learn more about notebook commands, keyboard shortcuts, and creating new cells for Markdown and code.

#### The 'command palette' has all notebook actions and shortcuts

In the command palette, you can search for any command, and run that action directly from the palette, as well as seeing the shortcut for that action if available. 

1. Press ``CTRL + SHIFT+ P`` to show the command palette. 
    * With the palette open, search for 'edit', to find the shortcut for `enter 'edit' mode`. Click on this action from the list. This cell will then switch into 'edit' mode.

#### Keyboard Shortcuts for Jupyter Notebook :

* `CTRL` + `SHIFT`+ `P` : show 'command palette'
* `esc` : command mode
* `enter` : edit mode
* `a` : insert cell above
* `b` : insert cell below
*  `SHIFT` + `enter`: run a code cell (or render a markdown cell)
* `d d`: delete a cell

#### Edit the text in a Markdown cell, execute (render) a Markdown cell

* Switch this cell into 'edit mode'. 
* Add a bullet point below these lines of text and type something, for example: ``'DONE'``. (can copy/paste example below if easier!)
* Then use `CTRL` + `Enter` to "run" the cell/render the markdown.  
    * for example: `DONE`

#### Add new cells to notebook

* With this cell in command mode (blue border), add a cell underneath it, then add some cells above the cells you added. 
    * press `b` to add a cell below an existing cell. 
    * You can keep pressing `b` to add more cells; it doesn't hurt anything to have empty cells in the notebook. 
    * press `a` to add a cell above an existing cell.

#### Create a new Markdown cell, add some text

create a Markdown cell: 
* click on one of the empty cells you created, or just create another one here. 
* A brand-new cell will be in command mode (blue cell border)  
* if there's an `In [ ]:` to the left of the cell, this means it's a code cell. Any text you type into the cell will be treated as code. 
* To convert the cell to a Markdown cell, press `m` to switch the cell to markdown.  
    * The `In [ ]:` to the left of the cell will disappear, indicating it is now a Markdown cell. Any test you type into the cell will now be treated as markdown. 
* If this did not work, make sure the cell is in command mode. Switch to Command mode by pressing `Esc`. The cell border will turn blue. 

add text in a Markdown cell: 
* Switch the cell to Edit mode by clicking inside it. 
* In the markdown cell, type a header, and then some regular text. For example: 

    ```
    #### here's an example header  
    and some regular paragraph text 
    ```

#### use the markdown cell below for the exercise

(placeholder markdown cell)

#### Execute/render a markdown cell

* As you did for the code cells, press `CTRL` + `Enter` to "run" the markdown cell/render the markdown that you just typed.  
* the text will display as a formatted version, and the cell border will switch from green to blue. 

---
---
----

# Python/pandas examples with collections metadata files  <a name="ppe"></a>

## Metadata Example 1: Explore datasets with pandas<a name="md1"></a>

This example walks through getting oriented with using python/pandas for viewing and analysing descriptive metadata files.

In this scenario we are working with a group of separate metadata files that have varied sets of inconsistently organized fields. We want to assess completeness of specific fields across the group as a whole. 

We will import metadata from csv and tsv files, figure out which fields are relevant for our assessment, and select those from the raw datasheets.

### Learning objectives in this example:

* read a data file into a dataframe
* create dataframes from differently delimited data
* assess overall size and contents of the dataframe
* view data in the dataframe
* filter out irrelevant data
* select relevant columns to include 
* identify basic datatype information

#### Step 1:  Import libraries for Python

Importing libraries loads them into memory so that Python can use them. 

Libraries provide specific methods for particular kinds of work. 

We are importing: 
* the pandas data analysis library
* `os` for working with files and directories  
* `matplotlib` for generating some basic graphs from data

Setting `%matplotlib inline` allows plots to render within the notebook.

In [ ]:
# import pandas and os libraries 
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

#### Next: check that we are in the right place!!

We'll do a couple quick checks to get oriented and make sure that we're in the right directory. 

This is not really necessary, because this notebook is located in/running from within the 'notebook_exercises' subfolder, so we already know that we will be running commands relative to that location, but it's useful to know how to take a look around to see where you are.

In [ ]:
# os.getcwd() outputs the current working directory, similar to pwd in bash

os.getcwd()

In [ ]:
# os.listdir() with no parameter returns a list of the files and directories in the current working directory

os.listdir()

In [ ]:
# use os.listdir() plus a parameter to see what's in the exampleData subfolder

os.listdir('./exampleData/')

#### Create a dataframe from one of the metadata sheets

A dataframe is a Python object with rows and columns that can be selected for running calculations and manipulating the data in a lot of ways. 

You can read many different data formats into a dataframe, including csv, tsv, and even excel sheets. 

The command below uses the variable name 'maps' for creating a dataframe using the pandas `read_csv` function.

In [ ]:
# create a dataframe named 'maps' from an example metadata file 

maps=pd.read_csv("./exampleData/maps.csv")

#### Inspect a dataframe

Next, we'll explore the maps dataframe with pandas attributes and methods, to get a sense of how large this datset is (how many rows and columns), what the column headers are and how many of them are empty, and what the datatypes are in each column. 

* shape
* columns 
* info()

In [ ]:
# the shape attribute displays the number of rows and columns for the dataframe, to get a sense of its overall size

maps.shape

In [ ]:
# columns attribute displays column labels

maps.columns

In [ ]:
# the info method displays datatypes and numbers of values per column, and memory information

maps.info()

#### Datatypes in pandas

the most common types are: 

object -   

float64 -   

int64 -

#### Sorting dataframe columns

Since the columns listed above are not ordered in a logical way, it's hard to look for a particular column label in the output. 

However, dataframes can be sorted by rows, columns, or values. 

Below we'll sort the dataframe to display the column labels alphabetically, so that it's easier to check if this collection has fields we're interested in, such as Title, Usage Rights, Date, etc.

In [ ]:
# Sort the dataframe to order the output of column labels from the info() method

maps.sort_index(axis=1).info()

#### View contents of a dataframe 

The head() and tail() methods in pandas display the first or last n rows of data. 

By default head or tails will display 5 rows; below we specify 3 to see fewer rows. 

Note that the column headers are no longer sorted alphabetically, because we did not apply the sort persistently.

In [ ]:
maps.head(3)

#### Explore another dataset

Now we'll create another dataframe from a different collection. 

Using shape and info() to get a basic sense of the data, we can see that this data sheet has nearly twice as many column labels, and tons of empty fields.  

We filter the dataset by getting rid of the empty columns, and selecting a set of columns to focus on.

#### Specify delimiter for read_csv

You can also use the read_csv function for other kinds of delimiters, such as tab-delimited for this metadata file.

In [ ]:
# read in another example dataset as a separate dataframe. 

# use sep parameter to specify tab as delimiter

rev=pd.read_csv("./exampleData/60001.txt", sep='\t')

In [ ]:
# df.shape to output number of rows and columns

rev.shape

In [ ]:
# Sort the dataframe to order the output of column labels from the info() method

rev.sort_index(axis=1).info()

#### Get rid of empty columns

Many of these columns are empty, so we will exclude them. 

The "inplace" attribute will apply this change to the dataframe we are currently working with.

In [ ]:
# Drop empty columns. Inplace attribute overwrites the working dataframe. 

rev.dropna(axis = 1, how ='all', inplace = True)

# output updated dataframe

rev.sort_index(axis=1).info()

#### Applying Methods to Series in a Dataframe

Columns in the dataframe are a python object called a Series. You can use some methods at the level of Series as well as at the dataframe level. 

For example, the head() and tail() methods can also be applied to series as well as the whole dataframe. 

Below we use the head method to look at a list of values in the Title field in our dataframe.

In [ ]:
# View the first n rows of the Title column

rev.Title.head(24)

**Chaining methods**

You can chain methods together to apply another method to an object that has a method applied. 

Here we use the `sort_values` method to sort values in the Title series.  

We use the 'ascending'=False parameter to sort reverse-alphabetically.  

Then we apply the head() method to view the first 12 values of the sorted series.

In [ ]:
# View the first n values in the 'Title' series sorted alphabetically

rev.Title.sort_values(ascending=False).head(24)

#### How to Precisely Specify Locations in the Data

The `.loc` method allows for selecting individual or multiple rows and columns.   

Below we'll focus on the ``'Title','Date', 'Usage Rights', and 'filename'`` columns. 

We use a `:` to include all rows of the dataframe. 

We will use the tail() method to view the last few rows from this selection.

In [ ]:
# specify multiple rows and columns by label with loc method 

rev.loc[:,['Title','Date', 'Usage Rights', 'filename']].tail(8)

**Apply the same columns to the maps dataframe**

Meanwhile, our maps dataframe is still available in working memory. 

Because the same column labels exist in the maps dataset, we can select out these columns from maps using .loc, the same way as we did with the rev dataframe above.

In [ ]:
# examine the same columns in the 'maps' dataframe
# tail method displays the last n rows

maps.loc[:,['Title','Date', 'Usage Rights', 'filename']].tail(8)

### Recap of Metadata Example 1

In this example, we got familiar with our collections metadata, and identified fields to assess.  

In the next example, we will select out the relevant fields from a group of files, compile separate dataframes into a single dataframe, and compare fields across collections. 


**Summary of example:** 

* reading CSV and tab-delimited metadata sheets into dataframes
* exploring a dataframe as a whole, series within a dataframe, values in rows and columns
* filtering datasets by removing empty and irrelevant columns
* selecting columns to include
* working with multiple dataframes at once

### Exercise 3: Troubleshoot a Datatype Issue <a name="ex3"></a>

One of the three collections in this example is Collection Number 03883. The metadata filename is 03883.txt. 



Create a dataframe

In [ ]:
df=pd.read_csv('./exampleData/03883.txt', sep='\t')

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.dropna(axis = 1, how ='all', inplace = True)

df.info()

In [ ]:
df['Collection Number'].head()

In [ ]:
df=pd.read_csv('./exampleData/03883.txt',sep='\t', dtype={'Collection Number':object})

df['Collection Number'].head()

###  Solution to Exercise 3: Troubleshoot a Datatype Issue

## Metadata Example 2: Compare a group of metadata files <a name="md2"></a>

In Example 1, we identified fields we want to analyze in our group of collections: Title, Date, Usage Rights, and a few Subject fields. 

In this example, we will select out the relevant fields from a group of datasheets by creating a variable to store the set of columns we're interested in.  

Then we will concatenate metadata from the separate collections into a single dataframe that makes it easier to compare completeness of metadata across the group as a whole. 

We will generate basic graphs to show comparisons between the collections.

### Learning Objectives in this example:   

* Use a variable for storing a list
* Select columns on import with `usecols` parameter
* Create a new column
* Use `.groupby` to organize data
* Generate plots for visual comparisons

#### Use a variable to store the column names we want

We create a variable 'collabels' to hold the list of the Column labels that we will then select out from each datasheet.

In [ ]:
# create a variable for column labels

collabels=['Title','Date','Usage Rights', 'Subject Geographic', 'Subject Name' , 'Subject Topical']

#### Select relevant columns and create a new column with Collection Names

Now we can create a dataframe from each metadata sheet, including only the relevant Columns. 

We also create a new column in each dataframe that contains a simple collection name. We'll use these collection names when we group the metadata together into a single dataframe.

In [ ]:
# read in the same datasheets from the last example

# create a new column in each dataframe that contain a short Collection Name value

maps=pd.read_csv("./exampleData/maps.csv", usecols=collabels)
maps['colname'] ='Civil War Maps'

rev=pd.read_csv("./exampleData/60001.txt", usecols=collabels, sep='\t')
rev['colname'] ='Revolution Photographs'

rmb=pd.read_csv("./exampleData/03883.txt", sep='\t', usecols=collabels)
rmb['colname'] ='Roy M Brown Papers'

#### Check our new dataframes 

Again use info() to see the value counts and datatypes in each Column.

In [ ]:
# show info for updated dataframes 

maps.sort_index(axis=1).info()
print('\n')

rev.sort_index(axis=1).info()
print('\n')

rmb.sort_index(axis=1).info()

#### Concatenate into single dataframe

We create a new dataframe 'collstack', by concatenating the maps, rmb, and rev dataframes. 

Then we'll check that everything looks ok by looking at shape and info() for collstack.

In [ ]:
# concatenate dataframes into a single dataframe

collstack = pd.concat([maps, rmb, rev], axis=0, sort=True)

In [ ]:
collstack.shape

In [ ]:
collstack.info()

#### Group the data by the Collection Names we created

Now we can group the data by the Collection Names, and select fields to compare across the collections. 

The count() method counts the values in the Title and Usage Rights field for each collection.

In [ ]:
#group by collection name, counting values in Title and Usage Rights columns

collstack.groupby('colname')['Title', 'Usage Rights'].count()

#### Generate Plots to Represent Comparisons Visually

Next we'll generate some very basic plots to demonstrate working with pandas and matplotlib. 

Visualization is obviously a huge area in itself! These are not in any way impressive visualizations, but are just meant to give a little sense of pandas' flexible graphing capabilities. 

For example, by just adding `.plot(kind='bar')` to the code from the previous cell, we generate a bar graph of the data.

In [ ]:
# create a bar graph for the Title/Usage Rights comparison

collstack.groupby('colname')['Title', 'Usage Rights'].count().plot(kind='bar', figsize=(8,6),width=0.8, )
plt.ylabel('Count of items')
plt.xlabel('')

#### Investigate Subjects fields across the collections 

We can include different column labels to focus on the subject fields instead, and plot the result.

In [ ]:
collstack.groupby('colname')['Title', 'Subject Geographic', 'Subject Name', 'Subject Topical'].count()

In [ ]:
# create a horizontal bar graph for the Subjects comparison

collstack.groupby('colname')['Title', 'Subject Geographic', 'Subject Name', 'Subject Topical'].count().plot(kind='barh', figsize=(8,6), width=0.6)

#### Experimenting with plot types and subsets of data

By changing the value of the `kind=` parameter for `.plot`, we can experiment with different plot types to see which is best suited to a comparison. 

We can also use pandas methods to select a particular range of data to focus on in a plot. 

In this example, we focus on the people represented in the maps collection. We can sort the value counts in ascending order to produce a legible curve. 

If we want to focus on a smaller set within the group, we can use head() to focus on the most-represented names.

In [ ]:
# create a horizontal bar graph for the Subjects Name counts in maps collection 

maps.groupby(['Subject Name']).Title.count().sort_values(ascending=False).plot(kind='barh')

In [ ]:
# limit the barh graph to top 5 values

maps.groupby(['Subject Name']).Title.count().sort_values(ascending=False).head().plot(kind='barh', figsize=(8,6))

#### Represent the same data as a pie plot

Again changing the `kind=` parameter for `.plot` generates a different view of the same selection from the data.

In [ ]:
# create a pie plot for the Subjects Name counts in maps collection 

maps.groupby(['Subject Name']).Title.count().sort_values(ascending=False).head().plot(kind='pie', figsize=(8,8),startangle=180)
plt.ylabel('')
#plt.title("Most Common Subject Names in Maps Collection")

#### Other ways to reframe a selection

Unsurprisingly, Jeremy Francis Gilmer is the most common name in the Gilmer maps collection. 

If we wanted to create a plot that excludes this obvious result, we could create a variable to select value counts that focus on a given range that we're more interested in.

In [ ]:
# group maps by Subject Name, counting Titles, view top n

maps.groupby(['Subject Name']).Title.count().sort_values(ascending=False).head(10)

In [ ]:
# create a variable that specifies a range to examine
# exclude the most-common heading to focus on the next seven values
# create a pie plot from result

subcounts=maps['Subject Name'].value_counts()

totals=subcounts[(subcounts <= 103) & (subcounts>2)]

totals.sort_values(ascending=False).plot(kind='pie', figsize=(8,8),startangle=90)
plt.ylabel('')

### Recap of Example 2 

In this example, we selected relevant fields from across separate datasheets and combined the data for comparison, using simple plots to assess collections visually. 

**summary of this example:**

* use a variable to select a set of columns from multiple datasets 
* create a new column and add data
* concatenate separate data into a single dataframe
* organize datasets for comparison with groupby 
* compare datasets visually using basic graphs
* explore different graph formats according to data attributes

### Exercise 4: Evaluate values in a subject field in the maps collection<a name="ex4"></a>


In this exercise, we will take a closer look at values in the 'Subject Topical' field in the Maps collection. 

Based on the output below from maps.info(), it looks like the Subject Topical field is fairly complete in this collection. 

```
maps.info()
```

```
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
Title                 161 non-null object
Date                  161 non-null object
Subject Topical       161 non-null object
Subject Name          161 non-null object
Subject Geographic    161 non-null object
Usage Rights          0 non-null float64
colname               161 non-null object
```
Try using the describe() method to get more details about the values represented within the 'Subject Topical' field. 

Would plotting the maps titles according to 'Subject Topical' fields assigned to them make an interesting graph? 

**To answer this question, add and run code into the empty code cells below to:**  

* check the output from describe() for the maps dataframe
* and to generate a plot for numbers of maps titles grouped by Subject Topical. 

---

Here is code that you can paste into the empty code cells, (or feel free to type in the code!)

1. check the output from describe() for the maps dataframe

```

# use describe() to evaluate the contents of the 'Subject Topical' field
maps['Subject Topical'].describe()

```


2. generate a plot for numbers of maps titles grouped by Subject Topical. 

```

# generate a plot for the distribution of Subject Topical field across titles
maps.groupby(['Subject Topical']).Title.count().plot(kind='barh',color=['grey'])
plt.xlabel('item count')


```

For reference, the solution is also demonstrated in the next set of cells below.

### Use these empty code cells for the exercise:

### Solution to Exercise 4: Evaluate Subjects data in a collection

The output from `describe()` shows that although every item in this collection has a Subject Topical field, it is all the same value. 

So, plotting the Title counts for the Subject Topical field does not make a very interesting plot.

In [ ]:
# use describe() to evaluate the contents of the 'Subject Topical' field

maps['Subject Topical'].describe()

In [ ]:
# generate a plot for the distribution of Subject Topical field across titles

maps.groupby(['Subject Topical']).Title.count().plot(kind='barh',color=['grey'])
plt.xlabel('item count')

## Metadata Example 3: Merge information from separate files <a name="md3"></a>

Another useful feature of pandas is that it allows you to do SQL-like joins with datasheets.  

In this exercise, we will create a merged dataframe from descriptive metadata and file sizes information in separate datasets. 

We will rename columns in the descriptive metadata dataframe to merge based on columns in our filesizes datasheets.  
(It's also possible to specify the columns to merge separately for the left and right dataframes if they are not named the same!)

### Learning objectives in this example:  

* Review of removing empty columns
* Review of datatypes and potential errors, specifying datatypes for columns
* Rename columns 
* Merge dataframes 
* Write a dataframe to a csv output file or other format

In [ ]:
# uncomment the import statement below and run this cell if your notebook was reset and you need the libraries again

#import pandas as pd

### Overview of collections metadata in this example

In this example, we have three separate datasheets about various files from a single collection. We are going to combine them into one dataframe by merging on filenames. 

* descriptive metadata about the items
* technical metadata about the access files
* technical metadata about the 'master' files

#### Create dataframe for descriptive metadata

As in previous examples, we will create a dataframe and check out its overall size, columns, and value counts.

Then we'll drop the empty columns.

In [ ]:
# read in collections metadata file as 'metadata' dataframe
metadata=pd.read_csv("./exampleData/03823_metadata.txt", sep='\t')

In [ ]:
# use shape attribute to summarize rows and columns.

print(metadata.shape)

In [ ]:
# use the info method to see column names and item counts in each column

metadata.info()

#### Fix datatype for collection number 

As in our exercise above, 'Collection Number' is getting cast as an `int64` datatype. 

We can fix this by re-creating our dataframe, specifying `object` datatype for this column.

In [ ]:
metadata['Collection Number'].head(8)

In [ ]:
metadata=pd.read_csv("./exampleData/03823_metadata.txt", sep='\t', dtype={'Collection Number':object})

metadata['Collection Number'].head(8)

In [ ]:
#Remove the empty columns using dropna

# and re-check the column names and item counts by re-running the info method on the reshaped dataset.

metadata.dropna(axis = 1, how ='all', inplace = True)

metadata.info()

#### Identify which field to merge with Access Files

We will take a look at a few rows to see which field has the filenames we are matching to access files.

In [ ]:
#Use the head method to see the first n rows

metadata.head()

markdown

In [ ]:
#Create the second dataframe with the access files datasheet

accfiles=pd.read_csv("./exampleData/03823_access_images.csv")

In [ ]:
accfiles.info()

In [ ]:
#Create the second dataframe with the access files datasheet

accfiles=pd.read_csv("./exampleData/03823_access_images.csv", usecols=['Name','Full Path', 'Size'])

accfiles.rename(columns={'Name':'AccessName', 'Full Path':'AccessFilePath', 'Size' : 'AccessFileSize'}, inplace=True)

markdown

In [ ]:
# Use shape and info to take a look at the accfiles dataframe.
print(accfiles.shape) 

accfiles.info()

markdown

In [ ]:
#Use the head method to see the first n rows of a column

accfiles.head()

markdown

markdown

In [ ]:
# Rename a column 

metadata.rename(columns={'Object file name':'AccessName'}, inplace=True)
metadata.columns

markdown

In [ ]:
# Join access files data onto the metadata dataframe
# and view info for the new, merged dataframe

combined = pd.merge(metadata, accfiles,on='AccessName', how='left')

combined.info()

In [ ]:
combined.AccessFileSize.head(8)

In [ ]:
combined['AccessSizeNum'] = combined.AccessFileSize.apply(lambda x: x.replace(' Bytes',''))

combined=combined.astype({'AccessSizeNum':'int64'})

combined.info()

markdown

In [ ]:
# Write the merged dataframe to a new csv

combined.to_csv('./output/accessfilesizes_metadata_03823.csv', index=False,encoding='utf-8-sig')

markdown

In [ ]:
#Create a third dataframe with the masters files datasheet

masters=pd.read_csv("./exampleData/03823_masters.csv", usecols=['Name','Full Path', 'Size'])

masters.rename(columns={'Name':'MastersName', 'Full Path':'MasterFilePath', 'Size' : 'MasterFileSize'}, inplace=True)

masters['MasterSizeNum'] = masters.MasterFileSize.apply(lambda x: x.replace(' Bytes',''))

masters=masters.astype({'MasterSizeNum':'int64'})

In [ ]:
masters.info()

In [ ]:
masters.tail()

In [ ]:
combined.head()

In [ ]:
combined.rename(columns={'filename':'MastersName'}, inplace=True)

combined.info()

In [ ]:
all3 = pd.merge(combined, masters,on='MastersName', how='left')

all3.info()

In [ ]:
all3.loc[:,['Collection Number','Object', 'MastersName', 'AccessName', 'AccessSizeNum','MasterSizeNum']].head(12)

###  Exercise 5: Other ways to merge <a name="ex5"></a>

In [ ]:
# Use the tail method to see the last n rows of a column
accfiles.tail()

In [ ]:
# Use python string method to count instances of 'icon'

accfiles['AccessName'].str.count("icon").sum()

###  Solution to Exercise 5: Other ways to merge

## Bonus Example: Datatypes and Working with Dates<a name="md4"></a>

#### Use 'to_datetime' to convert datatype in Dates column

In this example, we will go back to our rev dataframe and examine the datatype for the Dates field.  

Notice the format of the values in the 'Date' column. We can also see in the info() output that the datatype for 'Date' is currently 'object'. Right now python is viewing these dates as just strings, which limits what we can do with them. 

We can create a new column in the dataframe, using the `to_datetime` method to convert the 'Date' values to datatype 'datetime', which then has a lot of capabilities available to it.

In [ ]:
rev.Date.head()

In [ ]:
rev.info()

In [ ]:
# check the current datatype and values information for the `Date` column in the rev dataframe

rev.Date.describe()

In [ ]:
# Create a new column 'datesformat', with the values from the Date column 
# Use to_datetime to convert the 'Date' values to the datetime datatype

rev['datesformat']=pd.to_datetime(rev['Date'])

rev.datesformat.head()

In [ ]:
# check the current datatype and values information for the new `datesformat` column in the rev dataframe

rev.datesformat.describe()

#### Inspect the dataframe with new column added

Note that the new column will be added at the end of the dataframe.

In [ ]:
# check the columns and dtypes in the rev dataframe

rev.info()

## Bonus Example: Find and remove duplicates <a name="md5"></a>

markdown

In [ ]:
coll=pd.read_csv('./exampleData/coll_dupes_example.csv')

markdown

In [ ]:
coll.info()

In [ ]:
coll=pd.read_csv('./exampleData/coll_dupes_example.csv', usecols=['Collection Number','Object', 'filename', 'Date created', 'Date modified'])

markdown

In [ ]:
coll.info()

In [ ]:
coll.shape

In [ ]:
coll.Object.duplicated().sum()

In [ ]:
# remove duplicates with drop_duplicates method

deduped= coll.drop_duplicates(subset= 'Object', keep='first')

In [ ]:
deduped.shape

In [ ]:
31+39125

In [ ]:
dupes_all=coll.loc[coll.Object.duplicated(keep=False), :]

In [ ]:

dupes_all.shape

In [ ]:
dupes_all.sort_values(['Collection Number','Object'])

In [ ]:
# write duplicates dataframe to a csv, sorted by Collection number then by Object field

dupes_all.sort_values(['Collection Number','Object']).to_csv('./output/coll_dupes_all_sorted.csv', index=False, encoding='utf-8')

In [ ]:
# can look at new datasheet as a dataframe, or open it in an external spreadsheet program

da=pd.read_csv('./output/coll_dupes_all_sorted.csv')

In [ ]:
da

## Resources <a name="res"></a>